/*Estilo para el HTML*/
*{
    margin: 0;
    padding: 0;
}

/*Estilo para el elemento div principal que contiene las secciones y elementos */
.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f3f5fc;
}

/*Estilo para la imagen logo de alura "letra A" (margenes de 40 pixels)*/
.logo-alura{
    margin:20px 30px;
    display: inline-block;
    width: 3%;
}

/*Estilo para el elemento textarea (ancho y alto del elemento, sin borde, tamaño de letra, color de fondo del textarea, posicion absoluta, tipo de fuente, estilo de fuente)*/
.area-texto{
position: absolute;
width: 45%;
height: 60%;
left: 10%;
top: 15%;
border: none;
color:#0A3871;
font-family: 'Inter';
font-style:normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
background-color: #f3f5fc;
resize: none; /* resize: none; quitar redimensionado al textarea */
}

/*Estilo para cambiar el color de la propiedad placeholder del textarea*/
.area-texto::placeholder{
    color:#0A3871;
}

/* Estilo para que cuando el elemento textarea esta activo o en focus, desaparezca el borde */
.area-texto:active , .area-texto:focus{
    border: none;
    outline: none;
}

/*Estilo para el div class recomendacion (texto ubicado debajo del textarea)*/
.recomendacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 10%;
    top:77%
}

.recomendacion p {
    color: #495057;
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    opacity: 0.9;
    flex: none;
    flex-grow: 0;
    order: 1; /*https://developer.mozilla.org/es/docs/Web/CSS/order */
    line-height: 150%;
} 

/*Estilo para las propiedades en comun de ambos botones (Encriptar/Desencriptar)*/
.botones{
    display: flex; /*contenedor flexible para poder colocar 1 boton al lado del otro*/
    flex-direction: row; /*para colocar 1 al lado del otro en la misma fila*/
    align-items: flex-start; /*alinea los botones al inicio del contenedor*/   
    text-align: center;
    padding: 1% 0; /*padding del 1% hacia arriba y abajo para que no se pegue con el contenedor del elemento div que contiene la recomendacion*/
    position: absolute;
    width: 50%;
    left: 10%;
    top: 80%;   
 
}

/*Estilo para el boton Encriptar*/
.boton-encriptar{
    width: 40%;
    height: 67px;
    background-color: #0A3871;
    color: white;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-size: 16px;
    font-family: 'inter';
    line-height: auto;
    text-align: center;
}

.boton-desencriptar{
    margin-left: 3%;
    width: 40%;
    height: 67px;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 16px;
    text-align: center;
    color: #0a3871;
}

.boton-encriptar:hover, .boton-desencriptar:hover{
    transform:scale(1.05);
} 

.container-img{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background-color: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08); /*sombra del contenido (img muñeco y texto)*/
    border-radius: 32px;
}

.container-img img{
    position: absolute;
    width: 70%;
    height: 33%;
}

.boton-copiar{
    position: absolute;
    top: 85%;
    width: 40%;
    height: 67px;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 16px;
    text-align: center;
    color: #0a3871;
    /* display: none; */
} 

.msg-img{
    display: inline-block;
    align-items: center;
    justify-content: center; 
    padding: 1%;
    position: relative;
    width: 25%;
    top: 22%;
    text-align: center;
    left:62%;
}

.msg-img h2{
    color: #343A40;
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    left: 10%;
    position: relative;
}

.msg-img p{
    color: #495057;
    line-height: 150%;
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    align-items: center;
    margin-top: 5%;
    display: flex;
    position: relative;
    left: 10%;
}

/* Responsive design celulares*/
@media (max-width: 767px){
    .logo-alura {
        margin: 10px;
        width: 10%;
        display: block;
    }
    
    .area-texto {
        width: 80%;
        height: 50%;
        top: 10%;
        font-size: 20px;
    }
    
    .recomendacion {
        top:63%;
    }
   
    .botones {
        display: grid;
        flex-direction: row;
        align-items: center;
        text-align: center;
        padding: 1% 0;
        position: absolute;
        width: 80%;
        left: 10%;
        top: 68%;
    }
    
    .boton-encriptar {
        width: 100%;
        position: relative;
        bottom: 20%;
    }

    .boton-desencriptar{
        width: 100%;
        bottom: 20%;
        margin: 0px;
        background-color: white;
    }

    .container-img{
        width: 80%;
        height: 18%;
        left: 10%;
        top: 90%;
    }

    .container-img img{
        display:none;
    }

    .msg-img{
        position: relative;
        left: 14.5%;
        display: flex;
        top: 85%;
        text-align: center;
        width: 70%;
        flex-direction: column;
        align-items: center;    
    }

    .msg-img h2{
        position: relative;
        width: 100%;
        font-size: 22px;
        left: auto;
    }

    .msg-img p{
        position: relative;
        width: auto;
        left: auto;
        font-size: 14px;
    }
}


/* Responsive design tablets*/
@media (min-width: 768px) and (max-width: 1023px){
    .logo-alura {
        margin: 15px;
        width: 7%;
        display: inline-block;
    }
    
    .area-texto {
        width: 80%;
        height: 57%;
        top: 10%;
        font-size: 20px;
    }

    .recomendacion{
        top: 70%;
    }
    .botones{
        width: 80%;
        top: 73%;
    }

    .boton-encriptar{
        width: 50%;
    }

    .boton-desencriptar{
        width: 50%;
        background-color: white;
        font-size: 16px;
        font-weight: bold;
    }

    .container-img{
        width: 80%;
        height: 13%;
        left: 10%;
        top: 80%;
    }

    .container-img img{
        display: none;
    }

    .msg-img{
        left: 10%;
        display: flex;
        top: 74%;
        text-align: center;
        width: 80%;
        flex-direction: column;
        align-items: center;    
    }

    .msg-img h2{
        position: relative;
        width: auto;
        left: auto;
    }

    .msg-img p{
        position: relative;
        width: auto;
        margin-top: 2%;
        left: auto;
    }
}
